header {
  display: flex; /* Включаем режим Flexbox. */
  flex-direction: row; /* Держим элементы в строке */
  justify-content: space-between; /* Распределяем элементы внутри шапки */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  background-color: rgb(21, 120, 138);
}
footer {
  background-color: rgb(32, 43, 43);
}
form textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}
.nav-element {
  margin-left: 90px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.linka {
  margin-top: 20px;
  background: rgb(163, 223, 163);
}
.linka a {
  color: rgb(8, 0, 0);
  text-decoration: none;
  font-size: 25px;
}
.active {
  color: rgb(135, 231, 111);
}

.butt {
  margin-top: 20px;
  margin-left: 1280px;
}

.makemarg {
  font-size: 25px;
  margin-top: 130px;
  /* margin-bottom: 20px; */
  margin-left: 450px;
}
.txt {
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}
.mess {
  padding: 20px;
  background-color: rgb(29, 182, 9, 0.5);
}

.butt-two {
  margin-top: 20px;
  margin-left: 1125px;
}
.my-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logo {
  color: rgb(6, 16, 107);
  font-weight: bold;
}
.p-error {
  background-color: rgb(231, 132, 132);
}
